
-- The number of worker process.
workers = 2

-- The number of connection will be accepted each worker process. 
worker_connections = 65535

-- Event timeout in ms.
event_timeout = 400

-- The web server will listen to.
listen_port = 9867

-- Apache listen port
php_listen_port = 81

-- Server name. 
server_name = "localhost"

-- Index file.
index_files = {"index.html", "index.php"}

-- Docuement root.
root_dir = "./html"

-- 404 page directory
page_404 = "./html/404.html"

-- use cache or not
use_cache = 0

-- Cache, the (unit) is pages
cache = 100

-- is deamon?  "0" or "1"
is_deamon = 0
