
-- The number of worker process.
workers = 2

-- The number of connection will be accepted each worker process. 
-- max is 1024
worker_connections = 10240

-- Event timeout in ms.
event_timeout = 400

-- The web server will listen to.
listen_port = 9867

-- Apache listen port
php_listen_port = 81

-- Server name. 
server_name = "localhost"

-- Index file.
index_files = {"index.html", "index.php"}

-- Docuement root.
root_dir = "./html"

-- Cache the unit is pages
cache = 100

-- pages will be cached if the page is active in 
--cache alive time.
cache_alive_time = 1200

-- is deamon?  "0" or "1"
is_deamon = 0

